/* body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    border: solid red 1px;
}

header>a {
    text-decoration: none;
    transition: 0.1s;
    margin-right: 30px;
    color: black;
}
header>a:hover {
    transform: scale(1.2);
} */